/* 
    Document   : form_style
    Created on : 19-oct-2011, 22:45:56
    Author     : Nacho
    Description:
        Para formularios
*/

.defaultform
{
    background-color: #ffffff;
    border-style:solid;
    border-width: 1px;
    border-top-width: 5px;
    border-color: #bababa;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.defaultform label
{
    font-family: sans-serif;
    font-size: 8pt;
}
.defaultform .textbox
{
    font-family: monospace;
    border-style:solid;
    border-color: #bababa;
    border-width: 1px;
    width:100%;
}

.defaultform textarea
{
    border-style:solid;
    border-color: #bababa;
    border-width: 1px;
    width:100%;
}
.labelcell { 
    padding-left: 10px;
    padding-right: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: #bababa;
}
.headercell {
    font-family: sans-serif;
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: #bababa;
}
.fieldcell
{
    padding-left: 10px;
    padding-right: 20px;
    background-color: #9f9f9f;
}

