/* 
    Document   : index_style
    Created on : 23-oct-2011, 18:39:38
    Author     : Nacho
    Description:
        Purpose of the stylesheet follows.
*/
#posts_main .line
{
    background-image: url(../images/line.png);
    background-position: left;
    background-repeat: repeat-y;
}
.thread
{
    font-family: sans-serif;
    border-collapse: collapse;
    margin-top: 15px;
}
.thread .title 
{

}
.thread .title a:link{color: #010101; text-decoration: none;}
.thread .title a:visited {color: #83569d; text-decoration: none; }

.thread .column
{
    padding-top: 10px;
    vertical-align: top;
    padding-right: 10px;
    width:50px;
}
.thread .general
{
    font-size: 8pt;
    padding-right: 10px;
}


.thread .user
{
    font-size: 8pt;
}

.thread .user a:link{color: #0068ff; text-decoration: none;}
.thread .user a:visited {color: #0068ff; text-decoration: none; }

.thread table
{
    border-collapse: collapse;
}
.thread .column .total
{
    text-align: center;
    font-size: 14pt;
    color:#bababa;
}
.thread .positive
{
    font-size: 8pt;
    color:#49b54f;
    padding-right: 5px;
}

.thread .negative
{
    font-size: 8pt;
    color:#b54949;
}
.thread .message
{
    background-color: #f0efef;
    padding:7px;
    border-width: 1px;
    border-color: #bababa;
    border-style: solid;
}

.thread .column .up_arrow
{
    background-image: url(../images/up_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 16px;
}

.thread .column .down_arrow
{
    background-image: url(../images/down_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 16px;
}
.thread textarea
{
   width: 50%;
   margin-left: -1px;
}
.thread td
{
}